@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
  .btn{
    @apply 
  }
}
@layer utilities{
  tr{
    @apply h-14
  }
  td{
    @apply border border-slate-900 text-xl font-semibold w-1/4;
  }
  .oprationBtn{
    @apply bg-slate-950 text-yellow-500
  }
}
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  background-color: white
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
}


